<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          <span *ngIf="chatType == 'groups'; else notGroup">{{ selectedChat.name }}</span>
          <ng-template #notGroup>{{ receipient.display_name }}</ng-template>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <!--<ion-row>
            <ion-col></ion-col>
            <ion-col class="date" col-auto>20 June 2019</ion-col>
            <ion-col></ion-col>
        </ion-row>-->
        <ion-row *ngFor="let message of messages">
            <ion-col *ngIf="message.sender == currentUser" class="message mymessage" col-auto>
                <span class="username">You</span>
                <br>
                <span>{{ message.text }}</span>
                <div padding class="time">{{ message.date_sent | date:'dd-MM hh:mm' }}</div>
            </ion-col>
            <ion-col offset-4 *ngIf="message.sender == currentUser"></ion-col>

            <ion-col *ngIf="message.sender != currentUser"></ion-col>
            <ion-col offset-3 col-auto *ngIf="message.sender != currentUser" class="message othermessage">
                <span class="username">{{ message.msg_sender.display_name }}</span>
                <br>
                <span>{{ message.text }}</span>
                <div padding class="time">{{ message.date_sent | date:'dd-MM hh:mm'}}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label floating>Type your message here</ion-label>
                <ion-textarea type="text" [(ngModel)]="message"></ion-textarea>
            </ion-item>
        </ion-col>
        <ion-col col-3>
            <div padding>
                <button ion-button color="primary" block outline (click)="send($event)">Send</button>
            </div>
        </ion-col>
    </ion-row>
</ion-footer>

<!--
    <ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col col-9 *ngIf="message.from!==currentUser" class="message" [ngClass]="{'mymessage': message.from === currentUser, 'othermessage': message.from !== currentUser}">
        <span class="user_name">{{ message.from }}:</span>
        <br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>

      <ion-col offset-3 col-9 *ngIf="message.from===currentUser" class="message" [ngClass]="{'mymessage': message.from === currentUser, 'othermessage': message.from !== currentUser}">
        <span class="user_name">{{ message.from }}:</span>
        <br>
        <span>{{ message.text }}</span>
        <div class="time">{{message.created | date:'dd.MM hh:MM'}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
-->
