<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Group</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Group Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list padding-top>
    <ion-list-header>
      Participants
    </ion-list-header>

    <ion-item *ngIf="participants.length == 0" class="error-message">At least one participant required</ion-item>
    <ion-item *ngFor="let par of participants">
      {{ par.display_name }}
      <button ion-button clear icon-only (click)="removeParticipant(par.username)" item-end>
        <ion-icon name="close" color="danger"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <button ion-button outline  (click)="addParticipant()">
        Add Participant <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <button [disabled]="participants.length == 0 || name == '' || name == undefined" ion-button color="primary" block (click)="createGroup()">Create Group</button>
</ion-content>
