page-profile {
  .avatar-img {
    border-radius: 50%;
    width: auto;
    height:200px;
    width:200px;
}

ion-item [disabled] {
    color: color($colors,primary);
    opacity: 1;
}

.profile-name{
    font-size: 1.2em;
}
}
