<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="add" (click)="newChat($event)"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <button ion-item *ngFor="let chat of chats" (click)="itemTapped($event, chat)">
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.jpg">
        </ion-avatar>
        <h2>
          <span *ngIf="chat.sender != user.username; else otherUser">{{ chat.chat_sender.display_name }}</span>
          <ng-template #otherUser>{{ chat.chat_receiver.display_name }}</ng-template>
        </h2>
        <p>{{ chat.lastText }}</p>
    </button>
  </ion-list>
</ion-content>
