<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Chats</ion-title>

    <ion-segment [(ngModel)]="chat">
      <ion-segment-button value="chats" (click)="segChange()">
        Chats
      </ion-segment-button>
      <ion-segment-button value="groups" (click)="segChange()">
        Groups
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="newChat($event)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <div [ngSwitch]="chat">
    <ion-list *ngSwitchCase="'chats'">
      <button ion-item *ngFor="let chat of chats" (click)="itemTapped($event, chat)">
        <ion-avatar item-start>
          <img src="assets/imgs/avatar.jpg">
          </ion-avatar>
          <h2>
            <span *ngIf="chat.senderUsername != user.username; else otherUser">{{ chat.sender.name }}</span>
            <ng-template #otherUser>{{ chat.receiver.name }}</ng-template>
          </h2>
          <p>{{ chat.lastMessage.text }}</p>
          <div class="date">{{ chat.lastMessage.dateSent | date:'dd-MM hh:mm' }}</div>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'groups'">
      <button ion-item *ngFor="let group of groups" (click)="itemTapped($event, group)">
        <ion-avatar item-start>
          <img src="assets/imgs/group_avatar.png">
          </ion-avatar>
          <h2>{{ group.name }}</h2>
          <p>{{ group.last_message }}</p>
          <div class="date">{{ chat.last_message | date:'dd-MM hh:mm' }}</div>
      </button>
    </ion-list>
  </div>
</ion-content>
