<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Select Contact</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let contact of contacts" [disabled]="contact.isParticipant" (click)="itemTapped($event, contact)">
            <ion-avatar item-start>
                <img src="assets/imgs/avatar.jpg">
            </ion-avatar>
            <h2>{{ contact.display_name }}</h2>
            <p>
              <span *ngIf="contact.isParticipant; else notAdded">Already added to list</span>
              <ng-template #notAdded>{{ contact.status }}</ng-template>
            </p>
        </button>
    </ion-list>
</ion-content>
